@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$clr-dark-grayish-blue: hsl(217, 19%, 35%);
$clr-desaturated-dark-blue: hsl(214, 17%, 51%);
$clr-grayish-blue: hsl(212, 23%, 69%);
$clr-light-grayish-blue: hsl(210, 46%, 95%);
$font-family: 'Manrope', sans-serif;
$font-weight-body: 500;
$font-weight-heading: 700;
$font-size-body: 0.8125rem; /* 13px */
$border-radius: 10px;
$breakpoints: (
  'small': 400px,
  'medium': 800px,
);

@mixin text-heading() {
  font-family: $font-family;
  font-weight: $font-weight-heading;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: $clr-dark-grayish-blue;
}

@mixin text-body() {
  font-family: $font-family;
  font-weight: $font-weight-body;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: $clr-desaturated-dark-blue;
}

@mixin circle($radius) {
  width: $radius;
  height: $radius;
  border-radius: 99999px;
}

@mixin bp-up($bp) {
  @media (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $clr-light-grayish-blue;
}

button * {
  pointer-events: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.l-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem; /* 24px */
}

.l-preview {
  border-radius: $border-radius;
  position: relative;

  &__body {
    padding: 1.25rem 2rem;

    @include bp-up('medium') {
      min-height: 100%;
      padding: 2rem 2.5rem;
    }
  }
}

.c-preview {
  background-color: #fff;
  box-shadow: 0 20px 30px rgba(#000, 0.1);

  @include bp-up('small') {
    max-width: 400px;
  }

  @include bp-up('medium') {
    max-width: 732px;
    display: flex;
  }

  &__header {
    min-width: 100%;
    height: 13.5rem;
    background-image: url('../../../images/drawers.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: $border-radius $border-radius 0 0;

    @include bp-up('small') {
      height: 18rem;
    }

    @include bp-up('medium') {
      min-width: 287px;
      height: auto;
      min-height: 100%;
      background-position: center left;
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  &__title {
    @include text-heading();

    margin-top: 1rem;
    font-size: 1rem;

    @include bp-up('medium') {
      margin: 0;
      font-size: 1.25rem; /* 20px */
      line-height: 1.4;
    }
  }

  &__text {
    @include text-body();

    margin-top: 0.625rem;
    font-size: $font-size-body;
  }

  &__footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__profile {
    margin-left: 1rem;
  }

  &__name {
    @include text-heading();

    font-size: $font-size-body;
  }

  &__date {
    @include text-body();

    font-size: $font-size-body;
  }

  &__pp {
    @include circle(40px);
    background-image: url('../../../images/avatar-michelle.jpg');
    background-size: cover;
    background-position: center center;
  }

  &__icon {
    margin-left: auto;

    @include bp-up('medium') {
      position: relative;
    }
  }
}

.o-share-btn {
  @include circle(32px);
  background-color: $clr-light-grayish-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;

  &.has-active {
    background-color: $clr-desaturated-dark-blue;

    .svg-fill {
      fill: #fff;
    }
  }

  &--dark {
    background-color: $clr-desaturated-dark-blue;
  }
}

.c-tooltip {
  --py: 1.125rem;
  --px: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $clr-dark-grayish-blue;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--py) var(--px);
  border-radius: 0 0 10px 10px;
  transition: all 200ms ease;
  box-shadow: 0 20px 20px rgba(#000, 0.1);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  @include bp-up('medium') {
    --border: 13px;
    --px: calc(2rem + 0.25rem);

    position: absolute;
    bottom: auto;
    top: calc(-180% - (var(--py) + 8px));
    left: calc(-250% - var(--px));
    width: max-content;
    border-radius: 10px;

    &::after {
      content: '';
      position: absolute;
      border: var(--border) solid;
      border-color: $clr-dark-grayish-blue transparent transparent transparent;
      left: 47%;
      bottom: calc(-2 * var(--border));
    }
  }

  &__text {
    @include text-body();

    font-size: $font-size-body;
    color: $clr-grayish-blue;
    letter-spacing: 0.38em;
    text-transform: uppercase;
    margin-right: 1.125rem;
  }

  &__icons {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 1rem;
    }

    img {
      max-width: 100%;
      display: block;
    }
  }

  &__btn {
    margin-left: auto;

    @include bp-up('medium') {
      display: none;
    }
  }
}

.attribution {
  @include text-body();

  font-size: 10px;
  margin-top: 1rem;
  text-align: center;

  a {
    text-decoration: none;
    color: $clr-dark-grayish-blue;
  }
}
