@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/* 13px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf2f8;
}

button * {
  pointer-events: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.l-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  /* 24px */
}

.l-preview {
  border-radius: 10px;
  position: relative;
}
.l-preview__body {
  padding: 1.25rem 2rem;
}
@media (min-width: 800px) {
  .l-preview__body {
    min-height: 100%;
    padding: 2rem 2.5rem;
  }
}

.c-preview {
  background-color: #fff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
@media (min-width: 400px) {
  .c-preview {
    max-width: 400px;
  }
}
@media (min-width: 800px) {
  .c-preview {
    max-width: 732px;
    display: flex;
  }
}
.c-preview__header {
  min-width: 100%;
  height: 13.5rem;
  background-image: url("../../../images/drawers.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 400px) {
  .c-preview__header {
    height: 18rem;
  }
}
@media (min-width: 800px) {
  .c-preview__header {
    min-width: 287px;
    height: auto;
    min-height: 100%;
    background-position: center left;
    border-radius: 10px 0 0 10px;
  }
}
.c-preview__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #48556a;
  margin-top: 1rem;
  font-size: 1rem;
}
@media (min-width: 800px) {
  .c-preview__title {
    margin: 0;
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.4;
  }
}
.c-preview__text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #6d7f97;
  margin-top: 0.625rem;
  font-size: 0.8125rem;
}
.c-preview__footer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.c-preview__profile {
  margin-left: 1rem;
}
.c-preview__name {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #48556a;
  font-size: 0.8125rem;
}
.c-preview__date {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #6d7f97;
  font-size: 0.8125rem;
}
.c-preview__pp {
  width: 40px;
  height: 40px;
  border-radius: 99999px;
  background-image: url("../../../images/avatar-michelle.jpg");
  background-size: cover;
  background-position: center center;
}
.c-preview__icon {
  margin-left: auto;
}
@media (min-width: 800px) {
  .c-preview__icon {
    position: relative;
  }
}

.o-share-btn {
  width: 32px;
  height: 32px;
  border-radius: 99999px;
  background-color: #ecf2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
}
.o-share-btn.has-active {
  background-color: #6d7f97;
}
.o-share-btn.has-active .svg-fill {
  fill: #fff;
}
.o-share-btn--dark {
  background-color: #6d7f97;
}

.c-tooltip {
  --py: 1.125rem;
  --px: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #48556a;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--py) var(--px);
  border-radius: 0 0 10px 10px;
  transition: all 200ms ease;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
.c-tooltip.is-hidden {
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 800px) {
  .c-tooltip {
    --border: 13px;
    --px: calc(2rem + 0.25rem);
    position: absolute;
    bottom: auto;
    top: calc(-180% - (var(--py) + 8px));
    left: calc(-250% - var(--px));
    width: max-content;
    border-radius: 10px;
  }
  .c-tooltip::after {
    content: "";
    position: absolute;
    border: var(--border) solid;
    border-color: #48556a transparent transparent transparent;
    left: 47%;
    bottom: calc(-2 * var(--border));
  }
}
.c-tooltip__text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #6d7f97;
  font-size: 0.8125rem;
  color: #9eafc2;
  letter-spacing: 0.38em;
  text-transform: uppercase;
  margin-right: 1.125rem;
}
.c-tooltip__icons {
  display: flex;
  align-items: center;
}
.c-tooltip__icons > *:not(:last-child) {
  margin-right: 1rem;
}
.c-tooltip__icons img {
  max-width: 100%;
  display: block;
}
.c-tooltip__btn {
  margin-left: auto;
}
@media (min-width: 800px) {
  .c-tooltip__btn {
    display: none;
  }
}

.attribution {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
  color: #6d7f97;
  font-size: 10px;
  margin-top: 1rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: #48556a;
}

/*# sourceMappingURL=main.css.map */
